// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-100;
  background: $bodybg;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $megaman;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    transition: scale .3s;
    &:last-child {
      margin-right: 0;
    }
  }
}

.social-icons {
  a:nth-child(1):hover{
    background: $blue-l;
    transform: scale(1.1);
  }
}

.social-icons {
  a:nth-child(2):hover{
    background: $blacke;
    transform: scale(1.1);
  }
}

.social-icons {
  a:nth-child(3):hover{
    background: $blue-t;
    transform: scale(1.1);
  }
}

.social-icons {
  a:nth-child(4):hover{
    background: $blue-f;
    transform: scale(1.1);
  }
}

.social-icons {
  a:nth-child(5):hover{
    background: $red;
    transform: scale(1.1);
  }
}

.dev-icons {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .list-inline-item i {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
   &:hover {
      color: $megaman;
      cursor: pointer;
    }
  }
}

.skills-description {
  font-size: 0.3em !important;
  margin-top: 5px !important;
  text-transform: uppercase;
}
